---
import { SITE } from '~/config.mjs';
import Layout from '~/layouts/PageLayout.astro';
import Headline from '~/components/blog/Headline.astro';

import Header from '~/components/widgets/Header.astro';
import Hero2 from '~/components/widgets/Hero2.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import LatestPosts from '~/components/blog/LatestPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

import { headerData } from '~/data';

const meta = {
  title: 'About',
  description: SITE.description,
//   dontUseTitleTemplate: true,
};
---

<Layout {meta}>
  <Fragment slot="header">
    <Header
      {...headerData}
      actions={[
        {
          type: "primary",
          text: 'Contact Me',
          href: '/contact',
        },
      ]}
      isSticky
    />
  </Fragment>
  <Hero2
    image={{ src: import('~/assets/images/Tortoise_Hare_Square.jpg'), alt: 'Slow and steady wins the race! A sunny day in Boston.' }}
    >
        <Fragment slot="title">
            Hi, I'm Annie.
        </Fragment>

        <Fragment slot="subtitle">
            <p class="mb-2">I'm a personal finance nerd and former mechanical engineer. I enjoy living a simple life with my husband and two cats in Minneapolis, Minnesota.</p>
            <p class="mb-2">If you've ever asked yourself "Is this it? Now what?" then I'm the money coach for you.</p>
            <p class="mb-2">But as David Byrne asked, <span class="font-semibold"><a href="https://www.youtube.com/watch?v=5IsSpAOD6K8&pp=ygUSb25jZSBpbiBhIGxpZmV0aW1l" target="_blank">"Well, how did I get here?"</a></span></p>
        </Fragment>
    </Hero2>
  <section class="px-6 sm:px-6 py-12 sm:py-16 lg:py-20 mx-auto max-w-4xl">
    The Early Years
    <p class="mb-2">I was academically driven from a young age. I really liked school, and I was good at it. It was the general expectation that I'd go to a good college and get a well-paying job on my way to a productive career. However, I was also fortunate to have parents who had quit the rat race and worked from home during my childhood, so I knew that there were multiple ways to live life.</p>
    
    <p class="mb-2">After getting a degree in mechanical engineering, my now-husband and I moved to Austin, Texas to start our careers. But after so many years of working to get to the top academically, neither of us wanted to do it anymore. Was this all there was to life? The constant grind of moving up the ladder and devoting one's waking hours to a career? Spending all day in an office and contributing to the endless cycle of consumption?</p>
    
    <p class="mb-2 font-semibold">One day, we had a conversation that redefined everything.</p>

    <p class="mb-2">"If we have a kid someday and someone needs to stay home, which one of us would want to keep working?"</p>

    <p class="mb-2">The answer was somewhat surprising - or maybe society just makes us think that it's unusual because it seems like there's no other way.</p>
    
    <p class="mb-2">Both of us wanted to stay home, and neither of us wanted to keep working full-time. I had loved having both of my parents at home growing up and wanted that for my offspring as well, and my husband wanted that too. But was this even possible if we wanted to have a kid in the next decade?</p>

    Turns Out It's Possible

    <p class="mb-2">We made it our goal to structure our finances so that we could enjoy the present, but also save for the future. We are very lucky that we had well-paying jobs, lived in a relatively affordable area (at the time), and had no debt. But we also were incredibly deliberate with our saving and spending and prioritized a few activities that made us happy, while saving the rest.</p>

    <p class="mb-2">During this time we also discovered the FIRE (Financial Independence Retire Early) movement. I'll avoid getting into the weeds here, but the concept is that by saving and investing a larger percentage of your income and not falling victim to lifestyle creep, your savings can grow to the point where you have enough to live on sooner than traditional retirement age.</p>

    <p class="mb-2">While we decided it was infeasible to stop working entirely within a decade, we compromised on having enough buffer saved up to spend time with our child during their early years, and working part-time to supplement our savings. We settled in for the long haul and worked our engineering jobs for the following 6 years.</p>

    Then Everything Changed (when the Fire Nation attacked?)

    <p class="mb-2">Then everything changed during the pandemic. After losing a few family members (unrelated to COVID) in quick succession, my husband and I decided to take a sabbatical from work to spend time with friends and family while we were all healthy and able-bodied. We were able to do this because of the nest egg we'd grown over the past 5 years. We knew we'd need to go back to work, but it was worth it to us to take the time off now.</p>
    
    <p class="mb-2">This time off completely shifted my perspective on life. I finally had time to develop my identity as an adult outside of the workplace for the first time since graduating college. I nurtured hobbies like urban sketching, indoor bouldering, and <a href="https://unplanitearth.com/">started a travel blog</a> to help me live life more spontaneously (I am quite the over-planner). I loved cooking interesting meals from scratch, listening to records and reading books, and being able to visit family for long periods of time without rationing vacation days.</p>

    Making Moves
    
    <p class="mb-2">We also realized that we didn't want to live in Austin anymore. The state politics, scorching summers, and suburban sprawl combined with the isolation of spending most of the day at home made us long for a walkable, inclusive, and diverse community. After months of research including a March Madness-style bracket, we settled on Minneapolis, Minnesota. Once again, our savings and flexibility gave us the option to make this move. While it set back our retirement timeline, it's worth it to live a balanced and simple life.</p>

    <p class="mb-2">I wanted to find a way to help others find the balance they deserve in life, so I started Annie Cardinal Coaching to provide a comfortable environment for folks who are ready to figure out what's next.</p>


  </section>
  <CallToAction
    callToAction={{
      text: "Ready for what's next?",
      href: '/contact',
    }}
  >
    <Fragment slot="title">
      Let me help you find your balance.
    </Fragment>

    <Fragment slot="subtitle">
      Gain control of your finances and determine the direction of your life. I'm here to help you find your balance, whatever that may be.
    </Fragment>
  </CallToAction>  



</Layout>
